* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

button {
    border: 0px;
    cursor: pointer;
}

header {
    display: flex;
    height: 56px;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    background-color: #fff;
    gap: 16px;
    position: sticky;
    top: 0;
}

.menu-youtube {
    display: flex;
    width: 146px;
    height: 24px;
    align-items: center;
    gap: 16px;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 404px;
    height: 40px;
    border-radius: 16px;;
}

.search-input{
    width: 100%;
    height: 100%;
    border-style: none;
    padding: 10px 16px;
    font-size: 1rem;
    border-radius: 16px 0 0 16px;
    border: 1px solid #ccc;
}

.search-icon-button{
    width: 60px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CCC;
    border-radius: 0 16px 16px 0;
    border-left: 1px solid #ccc;
}

.avatar {
    border-radius: 50%;
    width: 34px;
    height: 34px;
}

.perfil {
    display: flex;
    gap: 24px;
    width: 130px;
    height: 34px;
    align-items: center;
}

.right-icon {
    width: 24px;
    height: 24px;
}

main {
    background-color: #eee6e6a2;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
    padding: 30px 60px;
}

main h1 {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 15px 0;
}

.main-video {
    flex: 1 1 65%;
    min-width: 500px;
    margin: 0;
}

iframe {
    width: 100%;
    height: calc(100vw * 9 / 16);
    min-height: 400px;
    max-height: 600px;
    aspect-ratio: 16 / 9;
    border: none;
    border-radius: 16px;
}

.video-menu{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 15px;
    row-gap: 15px;
}

.video-perfil {
    display: flex;
    align-items: center;
    min-width: 160px;
}

.perfil-info{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    padding-left: 10px;
    margin-right: 15px;
}

.subscribe-button {
    background-color: #d41919;
    color: #fff;
    width: 120px;
    height: 40px;
    border-radius: 16px;
}

.enjoy-buttons {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.enjoy-buttons button {
    background-color: #e0cfcf;
    padding: 10px;
    border-radius: 16px;
    height: 40px;
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 7px;
}

.enjoy-buttons button:hover {
    background-color: #d4bebe;
}

.enjoy-buttons span{
    font-weight: bold;
}

.main-video p {
    display: inline;
}

.video-stats {
    padding: 15px;
    border-radius: 16px;
    background-color: #e0cfcf;
}

.views {
    font-weight: bold;
    margin-bottom: 15px;
}

.video-description{
    white-space: pre-line;
}

.sidebar {
    flex: 1 1 300px;
}

li {
    list-style: none;
    margin-bottom: 8px;

}

@media (max-width: 900px){
    main {
        padding: 20px;
    }
    .sidebar, .main-video {
        flex: 1 1 100%;
        min-width: auto;
    }
}

/* @media (max-width: 1255px){
    .video-menu {
        margin-bottom: 70px;
    }
} */